$pink-bg : #FC0E48;
$dark-overlay : rgba(0, 0, 0, 0.7);

.noscroll {
	overflow: hidden;
}
.active-link {
	border-bottom: 3px solid $pink-bg;
	padding-bottom: 27px;
	color: $pink-bg !important;
}

.navbar.mobile-nav {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
}

.nav-fixed.nav-fixed{
	a {
		color: #2E2E2E;
	}
	.mobile-button div {
		background-color: #2E2E2E;
	}
	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 8px 0 #2E2E2E;
}


// Navigation

.navbar {
	padding-bottom: 0;
	min-width: 351px;
	transition: background-color 200ms ease-in-out;	
	z-index: 100;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(0, 0, 0, 0);
	.mobile-button {
		border: 1px solid white;
		border-radius: 3px;
		padding: 4px 4px;
		div {
			width: 30px;
			background-color: white;
			height: 2px;
			margin: 4px 4px;
		}
	}
	.navbar-brand {
		img {
			display: inline-block;
			margin-top: -20px;
		}
		#logo-text {
			display: inline-block;
			.row-one {
				font-size: 15px;
			}
			.row-two {
				font-size: 10px;
				font-weight: 300;
			}
		}
	}
	a {
		color: #fff;
	}	
	.nav-item {
		font-weight: 700;
		font-size: 13px;
		a {
			padding-bottom: 30px;
			padding-top: 19px;
			
		}
		a:hover {
			color: $pink-bg;			
		}
		a:active {
			color: #fff !important;
		}
	}
}

// Header

#home-section {
	min-width: 351px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background:url("../images/header-background.jpeg") no-repeat;
	min-height: 525px;
	background-size: cover;
	background-attachment: fixed;
	.dark-overlay {
		background-color: $dark-overlay;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 525px;
		.inner-section {
			padding-top: 140px;
			.inner-text {
				text-align: center;
				h1 {
					padding: 25px;
					font-size: 3em;
					margin-left: auto;
					margin-right: auto;
				}
				span {
					font-size: 17px;
				}
				.button-group {
					margin-left: auto;
					margin-right: auto;
					padding-top: 30px;
					.button-red {
						color: white;
						background-color: $pink-bg;
						padding: 11px 20px 14px 20px;
						text-decoration: none;
						border-radius: 3px;
						font-size: 15px;
						margin: 4px;
						i {
							padding-left: 20px;
						}
					}
					.button-grey {
						color: white;
						background-color: rgba(255, 255, 255, 0.137);
						padding: 11px 20px 14px 20px;
						text-decoration: none;
						border-radius: 3px;
						font-size: 15px;
						margin: 4px;
						i {
							padding-left: 20px;
						}
					}
				}			
			}
		}
	}
}

// PROJECTS

#projects-section {
	//min-height: 800px;
}

//ABILITIES

#abilities-section {

}

//CONTACT

#contact-section {
	#contact-header {
		background:url("../images/contact-background.jpeg");
		background-size: cover;
		width: 100%;
		height: 35vh;
	}
	position: absolute;
	top: 525px;
	width: 100%;
	min-width: 351px;
	margin-bottom: 600px;
	#profile {
		margin-top: -170px;
		#profile-photo {
			height: 180px;
			width: 180px;
			border: 4px solid white;
			margin-top: 80px;
			margin-bottom: 7px;
		}
		.phone-number {
			max-height: 30px;
			background-color: $pink-bg;
			color: white;
			font-size: 13px;
			font-weight: 700;
			padding: 5px 9px 6px 9px;
			border-radius: 5px;
			max-width: 170px;
		}
		#media-icons {
			font-size: 29px;
			color: $pink-bg;
			.icons {
				display: inline;
				padding: 0px 7px;
			}
		}
	}
	#contact-form {
		padding: 20px;
		div {
			padding: 7px 3px;;
			input, textarea {
				width: 100%;
				height: 45px;
				border-radius: 6px;
				padding: 5px 14px;
				border: none;
				background-color: #F0F0F0;
				outline: none;
				font-size: 18px;
				&:focus {
					color: #00001a;
					font-weight: 400;
					border: solid 2px #1E90FF;
					box-shadow: 0 0 8px 0 #1E90FF;

				}
			}
		}
		#message {
			textarea {
				height: 180px;	
				resize: none;		
			}
		}
		#send#send {
			input {
				color: $pink-bg;
				background-color: white;
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				border: solid 1px $pink-bg;
				padding: 0 25px;
				box-shadow: none;
				&:hover{
					color: white;
					background-color: $pink-bg;
					transition: all 350ms ease-in-out;
				}
			}			
		}
	}
}
